Connected Services/ServiceReservaciones/ReservacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarReservacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="costo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarReservacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultarReservacionResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="costo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarReservacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="costo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarReservacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarReservacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarReservacionSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarReservacion" />
  </wsdl:message>
  <wsdl:message name="ConsultarReservacionSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarReservacionSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarReservacion" />
  </wsdl:message>
  <wsdl:message name="AgregarReservacionSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarReservacionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ConsultarReservacion">
      <wsdl:input message="tns:ConsultarReservacionSoapIn" />
      <wsdl:output message="tns:ConsultarReservacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarReservacion">
      <wsdl:input message="tns:AgregarReservacionSoapIn" />
      <wsdl:output message="tns:AgregarReservacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarReservacion">
      <soap:operation soapAction="http://tempuri.org/ConsultarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarReservacion">
      <soap:operation soapAction="http://tempuri.org/AgregarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarReservacion">
      <soap12:operation soapAction="http://tempuri.org/ConsultarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarReservacion">
      <soap12:operation soapAction="http://tempuri.org/AgregarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44381/ReservacionService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44381/ReservacionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>